body u {
  padding-top: 10px; }

body button:focus {
  outline: none; }

body .circle_logo {
  margin-right: 8px; }

body .awesome_app {
  color: white;
  display: inline-block; }

body nav {
  float: right;
  background-color: #0cb3f8;
  text-decoration: none;
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 700;
  padding: 30px; }
  body nav a {
    color: white; }
  body nav li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12pt;
    list-style-type: none; }

body .hero-image {
  background-color: #0cb3f8;
  color: white; }
  body .hero-image h1 {
    margin-top: 60px;
    margin-left: 90px;
    margin-bottom: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 70pt; }
  body .hero-image p {
    margin-left: 90px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 21pt; }
  body .hero-image .row {
    background-color: #0cb3f8; }

body .download_btn {
  background-color: #0cb3f8;
  padding-bottom: 100px; }

body .download {
  color: white;
  background-color: #0cb3f8;
  border-radius: 35px;
  padding: 20px;
  margin-right: 40px;
  margin-left: 98px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10pt;
  border-color: white; }

body .learn_more {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10pt; }

body .new_btn {
  background-color: white;
  color: #292534;
  margin-left: 90px;
  margin-top: 25px;
  margin-bottom: 25px; }
  body .new_btn p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt; }
  body .new_btn button {
    font-family: 'Montserrat', sans-serif;
    font-size: 9pt;
    margin-right: 30px; }

body .small_btn {
  background-color: #0081ff;
  color: white;
  border-radius: 35px;
  padding: 5px 25px;
  border: none;
  box-shadow: 5px 5px 12px 0px rgba(12, 179, 248, 0.5); }

body .big_thing {
  background-color: #f5f4f4;
  margin-top: -17px; }
  body .big_thing h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 44pt;
    margin-top: 68px;
    margin-bottom: 37px; }
  body .big_thing p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16pt; }

body .choose_license {
  background-color: #222222;
  color: white;
  padding-top: 68px; }
  body .choose_license h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 44pt;
    margin-bottom: 39px; }
  body .choose_license p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #bcc6d0;
    font-size: 16pt;
    margin-bottom: 84px; }

body .pricing {
  background-color: #222222; }
  body .pricing h1, body .pricing h3, body .pricing button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
  body .pricing button {
    background-color: white;
    border-color: #1b8bf9;
    color: #242526;
    font-size: 10pt;
    padding: 15px 30px 15px 30px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 35px;
    box-shadow: none; }
  body .pricing h1 {
    font-size: 48pt;
    margin-bottom: 25px; }
  body .pricing h3 {
    font-size: 12pt;
    margin-top: 34px;
    margin-bottom: 38px; }
  body .pricing .per_month {
    margin-bottom: 49px; }
  body .pricing p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt; }

body .price_list {
  margin-bottom: -35px; }

body .price {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 100px; }
  body .price img {
    padding-right: 10px; }
  body .price.alt {
    background-color: #1b8bf9;
    color: white; }
  body .price .btn-primary {
    border-radius: 33px;
    padding: 10px 37px 10px 37px;
    margin: 76px 20px 50px 20px; }

body .subscribe_now {
  background-image: url("../images/coast_photo.png"); }
  body .subscribe_now h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 65px;
    padding-bottom: 20px; }
  body .subscribe_now p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-bottom: 40px; }
  body .subscribe_now .email_field {
    padding-bottom: 100px; }
    body .subscribe_now .email_field button {
      background-color: white;
      color: #242525;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      border-radius: 7px; }

body footer {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 30px;
  text-align: center; }
  body footer a {
    color: #242526; }
  body footer li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px; }
