body {

  u {
    padding-top: 10px;
  }

  button:focus {
    outline: none;
  }

  //nav//
  .circle_logo {
    margin-right: 8px;
  }

  nav {

    float: right;
    background-color: #0cb3f8;
    text-decoration: none;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;

    .awesome_app {
      color: white;
    }

    a {
      color: white;
    }

    li{
      display: inline;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12pt;
      list-style-type: none;
    }

  }
  //nav//


  //hero image//

  .iphone {
    float: right;
  }

  .hero-image {

    background-color: #0cb3f8;
    color: white;
    padding-top: 50px;


    h1 {
      margin-top: 60px;
      margin-left: 90px;
      margin-bottom: 45px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 70pt;
    }

    p {
      margin-left: 90px;
      margin-bottom: 50px;
      font-family: 'Montserrat', sans-serif;
      font-size: 21pt;
    }

    .row {
      background-color: #0cb3f8;
    }

  }


  .download_btn {
    background-color: #0cb3f8;
    padding-bottom: 100px;
  }

  .apple {
    padding-right: 20px;
  }

  .download {
   color: white;
   background-color: #0cb3f8;
   border-radius: 30px;
   padding: 16px 25px 16px 25px;
   margin-right: 40px;
   margin-left: 98px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 10pt;
   border-color: white;

 }

  .learn_more {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10pt;
  }
  //hero image//


  //new button//
  .new_btn {
    background-color: white;
    color: #292534;
    margin-left: 90px;
    margin-top: 25px;
    margin-bottom: 25px;

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 13pt;
    }

    button {
      font-family: 'Montserrat', sans-serif;
      font-size: 9pt;
      margin-right: 30px;
    }

  }

  .small_btn {
    background-color: #0081ff;
    color: white;
    border-radius: 35px;
    padding: 5px 25px;
    border: none;
    box-shadow: 5px 5px 12px 0px rgba(12, 179, 248, 0.5);

  }
  //new button//

 //content//
  .big_thing {

    background-color: #f5f4f4;
    margin-top: -17px;

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 44pt;
      margin-top: 68px;
      margin-bottom: 37px;
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 16pt;
      padding-bottom: 80px;
    }

  }

    .app_content {

      text-align: center;
      background-color: #f5f4f4;
      font-size: 13px;

    .iphone {
      margin-top: -30px;
      margin-bottom: 100px;
    }

    .app_text_1 {
      margin-left: 125px;
    }

    .app_text_2 {
      margin-right: 125px;
    }

    .title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }

    .copy {
      margin-bottom: 70px;
    }

    p {
      font-family: 'Montserrat', sans-serif;
    }

  }
  //content//

  .choose_license {

    background-color: #222222;
    color: white;
    padding-top: 68px;

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 44pt;
      margin-bottom: 39px;
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      color: #bcc6d0;
      font-size: 16pt;
      margin-bottom: 84px;
    }

  }


  //price//
  .pricing {
    background-color: #222222;

    h1, h3, button {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }

    button {
      background-color: white;
      border-color: #1b8bf9;
      color: #242526;
      font-size: 10pt;
      padding: 15px 30px 15px 30px;
      margin-left: 90px;
      margin-right: 90px;
      border-radius: 35px;
      box-shadow: none;
    }

    h1 {
      font-size: 48pt;
      margin-bottom: 25px;
    }

    h3 {
      font-size: 12pt;
      margin-top: 34px;
      margin-bottom: 38px;
    }

    .per_month {
      margin-bottom: 49px;
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 12pt;
    }

  }

  .price_list {
    margin-bottom: -35px;
  }

  .price {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 100px;


    img {
      padding-right: 10px;
    }

     &.alt {
       background-color: #1b8bf9;
       color: white;
     }


  .btn-primary {
    border-radius: 33px;
    padding: 10px 37px 10px 37px;
    margin: 76px 20px 50px 20px;
  }

  }
  //price//


  //subscribe now//
     .subscribe_now {

       background-image: url("../images/coast_photo.png");
       background-size: cover;

     h1 {
         color: white;
         font-family: 'Montserrat', sans-serif;
         font-weight: 700;
         padding-top: 65px;
         padding-bottom: 20px;
       }

      p {
         color: white;
         font-family: 'Montserrat', sans-serif;
         font-weight: 300;
         padding-bottom: 40px;

       }

     }

      //email input//
     .input-bar {
     display: table;
     width: 50%;
     }

     .input-bar-item {
     display: table-cell;
     }

     .input-bar-item > button {
       font-family: 'Montserrat', sans-serif;
       font-weight: 700;
       font-size: 10pt;
       padding: 15px 60px 15px 60px;
       background-color: white;
       color: #242525;
       border: none;
       margin-left: 5px;
     }

     .width100 {
     width: 50%;
     }


     //email input//
//subscribe now//


     //footer//
     footer {

       background-color: white;
       font-family: 'Montserrat', sans-serif;
       font-weight: 700;
       padding: 30px;
       text-align: center;
       margin-bottom: 40px;

       .logo_black {
         margin-right: 140px;
         margin-left: -50px;
       }

       .twitter {
         margin-right: 20px;
         margin-left: 100px;
       }

       .facebook {
         margin-right: 20px;
       }

       a {
         color: #242526;
       }

       li{
         display: inline;
         padding-left: 20px;
         padding-right: 20px;
         font-size: 11pt;
       }

     }
     //footer//


     //bottom info//
     .bottom_info {

       background-color: white;
       padding-left: 230px;

       .mission {
         font-family: 'Montserrat', sans-serif;
         font-weight: 300;
         font-size: 11pt;
       }

       p {
         font-family: 'Montserrat', sans-serif;
         font-size: 10pt;
       }

     }

     //bottom info//

}
