body nav {
  background-color: #0cb3f8; }

body li {
  list-style-type: none; }

body .row {
  background-color: #0cb3f8; }

body .download_btn {
  color: white;
  background-color: #0cb3f8;
  border-radius: 30px;
  padding: 15px; }

body .learn_more {
  color: white; }

body .new-btn {
  background-color: white; }

body .price {
  background-color: white;
  border-radius: 5px;
  padding: 10px; }
  body .price.alt {
    background-color: #1b8bf9; }
  body .price button {
    background-color: white;
    border-radius: 20px;
    border-color: #1b8bf9;
    color: #242526;
    box-shadow: none; }
