body {

  nav {
    background-color: #0cb3f8;
  }

  li {
    list-style-type: none;
  }

  .row {
    background-color: #0cb3f8;
  }

  .download_btn {
    color: white;
    background-color: #0cb3f8;
    border-radius: 30px;
    padding: 15px;
  }

  .learn_more {
    color: white;
  }

  .new-btn {
    background-color: white;
  }

  .big_thing {
    background-color: #f5f4f4;
  }

  .choose_license {
    background-color: #222222;
    color: white;
  }

//price//
  .pricing {
    background-color: #222222;
  }

  .price {
    background-color: white;
    border-radius: 5px;
    padding: 10px;

     &.alt {
       background-color: #1b8bf9;
     }

     button {
       background-color: white;
       border-radius: 20px;
       border-color: #1b8bf9;
       color: #242526;
       box-shadow: none;
     }

     }
     //price//

}
